.ac-custom-nav {
  display: flex;
  align-items: center;
  @media (max-width: $smBreakpoint) {
    margin-left: 10px;
  }
  &__back-btn {
    color: var(--text-gray);
    font-size: 20px;
    &::before {
      content: "";
      display: inline-flex;
      width: 15px;
      height: 15px;
      margin-right: 5px;
      border-bottom: 1px solid var(--text-gray);
      border-left: 1px solid var(--text-gray);
      transform: rotate(45deg);
    }
  }
}
