.account-feedbacks {
  font-family: "Montserrat", sans-serif;
  color: var(--text-gray);
  display: flex;
  flex-direction: column;
  ::-webkit-scrollbar {
    background-color: var(--bg-scrollbar);
    width: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--bg-scrollbar-thumb);
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 500px;
    overflow-y: scroll;
    padding-right: 10px;
    padding-top: 30px;
    &__feedback {
      display: flex;
      align-items: center;
      margin-left: 9px;
        @media (min-width: $smBreakpoint) {
            margin-left: 30px;
        }
      &::before {
        content: ".";
        position: absolute;
        left: -30px;
        display: inline-flex;
        @media (max-width: $smBreakpoint) {
            display: none;
        }
      }
    }
    .account-fb {
      position: relative;
      border: 1px solid var(--border-gray);
      padding: rem(20) 10px;
      box-sizing: content-box;
      &__data {
        background-color: var(--body-color);
        padding: 0 8px;
        position: absolute;
        top: -8px;
        left: 20px;
        font-size: rem(16);
      }
      &__main {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &__data {
          display: flex;
          flex-wrap: wrap;
          column-gap: 20px;
          row-gap: 10px;
          &__field {
            &__container {
              display: flex;
              flex-direction: column;
              gap: 5px;
            }
            &__title {
              white-space: nowrap;
              font-weight: 500;
              @include adaptive-value("font-size", 20, 14, 0);
            }
            &__value {
              font-weight: 400;
              @include adaptive-value("font-size", 20, 12, 0);
            }
            &__custom {
              font-size: rem(12);
              color: var(--bg-red);
            }
          }
        }
        &__text {
          display: flex;
          flex-direction: column;
          margin-top: 10px;
          gap: 5px;
          &__title {
            font-weight: 500;
            @include adaptive-value("font-size", 20, 14, 0);
          }
          &__text {
            line-height: 16px;
            @include adaptive-value("font-size", 20, 12, 0);
          }
        }
      }
    }
  }
  &_empty {
    text-align: center;
    border: 1px solid var(--bg-red);
    margin: 0 auto;
    padding: 10px 20px;
    &__title {
      color: var(--text-gray);
    }
  }
}
