.custom-btn {
    min-width: rem(120);
    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      padding: 8px 0px;
      color: #fff;
      background-color: rgb(18, 98, 202);
      cursor: pointer;
      height: 100%;
      transition: all 1s;
      &__title {
        margin: 0 20px;
        word-wrap: break-word;
        word-break: break-all;
        text-align: center;
        font-size: rem(13);
      }
      &:hover {
        border-radius: 20px;
        transition: all 1s;
      }
      &__disabled {
        pointer-events: none;
        background-color: rgb(161, 161, 161);
      }
      &__error {
        background-color: var(--bg-red);
        &:hover {
          background-color: rgb(206, 42, 42);
        }
      }
      &__success {
        background-color: var(--bg-green-btn);
        transition: all 1s;
        &:hover {
          background-color: var(--bg-purple);
          border-radius: 20px;
          transition: all 1s;
        }
      }
      &__purple {
        background-color: var(--bg-purple);
      }
      &__gray {
        background-color: var(--bg-gray-300);
      }
      &__gray-rounded {
        background-color: var(--bg-card);
        border-radius: 20px;
        color: var(--text-gray);
        letter-spacing: 0.8px;
        transition: all 0.2s;
        &:hover {
          transition: all 0.2s;
          background-color: var(--bg-gray-500);
        }
      }
    }
  }