.pagination-btn {
  display: inline-flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  z-index: 10;
  &__btn {
    background-color: var(--bg-pag-btns);
    margin: rem(5);
    width: rem(50);
    height: rem(50);
    border-radius: 50%;
    position: relative;
  }
  &__ic {
    color: var(--bg-icon);
    fill: var(--bg-icon);
    stroke: var(--bg-icon);
    width: 15px;
    height: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &_disabled {
    background-color: transparent;
  }
}
