.header {
  z-index: 10000;
  background-color: var(--body-color);
  height: 100px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  top: 0;
  left: 0;
  color: var(--text-gray);
  transform: translateY(-90px);
  &._active-anim {
    transition: all 1s linear;
    transform: translateY(0px);
  }
  @media (max-width: $mdBreakpoint) {
    height: 80px;
    transform: translateY(-70px);
  }
  &.nav-up {
      top: -110px;
      transition: all 0.5s;
  }
  &.nav-down {
      top: 0px;
      transition: all 0.5s;
  }
  ::-webkit-scrollbar {
    background-color: var(--bg-scrollbar);
    width: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--bg-scrollbar-thumb);
  }
  .user-icon {
    stroke-width: 0.8 !important;
  }
  &__ic {
    fill: var(--bg-icon);
    stroke: var(--bg-icon);
    display: inline-flex;
    width: 35px;
    height: 35px;
    stroke-width: 0.5px !important;
    position: relative;
    &:hover {
      fill: var(--bg-purple);
      stroke: var(--bg-purple);
      transition: all 0.3s;
    }
    &__wrapp {
      padding: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      max-height: 100px;
      position: relative;
      text-align: center;
    }
    &_cart-pr-count {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      color: #000;
      background-color: var(--bg-green);
      position: absolute;
      left: 0;
      bottom: -2px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      margin-left: 6px;
      border-radius: 50%;
      min-width: 15px;
      height: 15px;
      padding: 0px 4px 2px;
      box-sizing: border-box;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (any-pointer) {
        padding: 2px 4px;
      }
      @media (max-width: $smBreakpoint) {
        padding: 2px 4px;
        font-weight: 400;
      }
    }
  }
  &__ic-social {
    width: 40px !important;
    height: 40px !important;
    fill: var(--bg-icon);
  }
  &__burger-div {
    width: 40px;
    height: 2px;
    padding: 15px 0;
    position: relative;
    &::before,
    &::after {
      content: "";
      display: flex;
      width: 40px;
      height: 2px;
      background-color: var(--bg-icon);
      position: absolute;
      left: 0;
      transition: all .8s;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    &__center-line {
      background-color: var(--bg-icon);
      width: 40px;
      height: 2px;
      transition: all .8s;
    }
  }
  #header-logo {
    width: 90px;
    height: 90px;
    @media (max-width: $lgBreakpoint) {
      width: 70px;
      height: 70px;
      margin: 0 rem(10);
    }
  }
  &__wrapper {
    overflow: hidden;
    height: 100px;
    display: flex;
    position: relative;
    background-color: var(--body-color);
    width: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border-gray);
    z-index: 10;
    @media (max-width: $mdBreakpoint) {
      height: 80px;
    }
  }
  &__column {
    display: flex;
    img {
      width: 35px;
      height: 35px;
      margin: 0 auto;
    }
    &:first-child {
      position: absolute;
      left: rem(20);
      align-items: flex-end;
    }
    &:last-child {
      position: absolute;
      right: rem(20);
    }
  }
  &__nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    a {
      margin: 0 12px;
      @media (max-width: $lgBreakpoint) {
        margin: 0 5px;
      }
    }
    img {
      align-self: center;
    }
  }
  a {
    text-decoration: none;
    color: var(--text-gray);
    font-size: rem(16);
  }
}
.header__burger-div_opened {
  &::before {
    transform: rotate(-45deg);
    transform-origin: right;
    transition: all .8s;
  }
  &::after {
    transform: rotate(45deg);
    transform-origin: right;
    transition: all .8s;
  }
  .header__burger-div__center-line {
    scale: 0;
    transition: all .8s;
  }
}
.header-column-last {
  &__wrapper {
    display: flex;
    gap: 10px;
    padding: 2px;
  }
}
.mobile-menu-header {
  background-color: var(--body-color);
  padding: 0px 0 20px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 1s ease-out;
  &__container {
    padding: 90px 0 60px;
    display: flex;
    gap: 90px;
    flex-direction: column;
    flex: 1 1 auto;
  }
  &__search {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 5px 0;
    width: 100%;
    border-bottom: 1px solid var(--border-gray);
    input {
      padding-bottom: 5px;
      text-align: center;
      border-bottom: none;
      &::placeholder {
        color: var(--bg-gray-300);
        font-size: rem(20);
      }
    }
  }
  &__link {
    cursor: pointer;
    font-size: rem(20);
    display: flex;
    align-items: center;
    &:nth-child(2) {
      margin-top: -50px;
    }
    a {
      display: inline-flex;
      white-space: nowrap;
      margin: 0 rem(10);
    }
    &:nth-child(even)::after,
    &:nth-child(odd)::before {
      content: "";
      display: block;
      height: 1px;
      width: 100%;
      background-color: rgb(19, 19, 19);
    }
    &:nth-child(odd)::after,
    &:nth-child(even)::before {
      content: "";
      display: block;
      width: 100%;
      height: 5px;
      background-color: transparent;
    }
  }
}
.contacts-panel-mobile-menu {
  flex: 0 0 rem(50);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: rem(90);
  &__wrapper {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    img {
      width: rem(30);
    }
  }
}
.mobile-menu-anim-enter-from,
.mobile-menu-anim-leave-to {
  transform: translateY(-100%);
}
